/Aula_pratica_1/nbproject/private/
/Aula_pratica_1/build/
/aula_pratica_2/nbproject/private/
/aula_pratica_2/build/
/Trabalho final/trabalho_final/nbproject/private/
/Trabalho_final/Trabalho_final/nbproject/private/
/Trabalho_final/Trabalho_final/build/
/Trabalho_final/Trabalho_final/dist/
/Aula_pratica_3/Aula_pratica_3/nbproject/private/
/Aula_pratica_3/Aula_pratica_3/build/